$font-stack:    Oswald, Arial, sans-serif
$primary-color: #fff
$bg: #000
$bgTextForm: #bbb

*
  padding: 0
  margin: 0 auto
  box-sizing: border-box

a
  text-decoration: none

body

  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  color: $primary-color
  background: url(../images/bgBody.jpg) no-repeat
  background-color: rgba(255, 255, 255, .5)
  background-size: cover
  background-position: center
  font: 100% $font-stack 
  font-size: 1.1em

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 10px 100px
  background-color: rgba(255, 255, 255, .1)
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 99

.logo
  font-size: 2em
  color: $primary-color
  vertical-align: 2em
  user-select: none

.navigation
  a
    position: relative
    color: $primary-color
    text-decoration: none
    font-weight: 500
    margin-left: 40px

  a::after
    content: ''
    position: absolute
    left: 0
    bottom: -6px
    width: 100%
    height: 3px
    background-color: $primary-color
    border-radius: 3px
    transform: scaleX(0)
    transform-origin: right
    transition: transform .5s

  a:hover::after
    transform-origin: left
    transform: scaleX(1)


  .btnLogin-popup 
    width: 130px
    height: 50px
    background: transparent
    font: 100% $font-stack 
    border: 2px solid $primary-color
    outline: none
    border-radius: 6px 
    cursor: pointer
    color: $primary-color
    font-weight: 500
    margin-left: 40px
    transition: .5s 

  .btnLogin-popup:hover
    transition: .5s 
    background: $primary-color
    color: #222

.icon-close
  position: absolute
  top: -10px
  right: -10px
  width: 45px
  height: 45px
  font-size: 2em
  display: flex
  justify-content: center
  align-items: center
  background: #ff4141
  z-index: 99
  border-radius: 5px

.content
  position: absolute
  background: transparent 
  width: 400px 
  height: 420px
  border-radius: 10px 
  backdrop-filter: blur(10px)
  box-shadow: 0 0 30px rgba(0, 0, 0, .8)
  transition: .3s
  display: flex
  justify-content: center
  align-items: center
  transition: height .2s ease
  transform: scale(1.5)
  visibility: hidden

  &.active-popup
    transition: .3s
    transform: scaleX(1)
    visibility: visible

  &.show-popup
    transform: scale(1.5)
    opacity: 0
    transition: .3s
  
  .form-box.login
    transition: transform .18s ease
    transform: translateX(0)

  &.active
    height: 500px

    .form-box.login
      transition: none
      transform: translateX(-400px)
      opacity: 0

    .form-box.register
      transition: transform .18s ease
      transform: translateX(0)
      opacity: 1

  .form-box.register
    position: absolute
    transform: translateX(400px)
    opacity: 0


.form-box
  h2
    font-size: 2em
    color: $bgTextForm
    text-align: center

.input-box
  position: relative
  width: 100%
  height: 50px
  border-bottom: 2px solid $bgTextForm
  margin: 30px 0

.input-box
  input:valid~label
    top: -5px
    transition: .5s

.input-box
  input:focus~label
      top: -5px
      transition: .5s

  label
    position: absolute
    top: 50%
    left: 5px
    transform: translateY(-50%)
    font-size: 1em
    color: $bgTextForm
    font-weight: 500
    pointer-events: none
    transition: .5s

  input
    width: 100%
    height: 100%
    background: transparent
    outline: none
    border: none
    font: 100% $font-stack 
    font-size: 1.1em
    color: $bgTextForm
    top: 0
    


  .icon
    position: absolute
    right: 8px
    font-size: 1.2
    color: $bgTextForm
    line-height: 57px


.remember-forgot 
  font-size: .9em
  color: $bgTextForm
  font-weight: 500
  margin: -15px 0 15px 
  display: flex
  justify-content: space-between

  .link__form
    height: 35px
    padding: 0 5px
    color: $bgTextForm
    border-bottom: 3px solid none
    border-radius: 2px

  .link__form:hover
    border-bottom: 3px solid $bgTextForm

  label
    input
      accent-color: $bgTextForm
      margin-right: 3px

.btn_reg, .btn
  width: 100%
  height: 45px
  border: none
  outline: none
  border-radius: 10px
  font-size: 1em
  cursor: pointer
  color: $primary-color
  background: $bgTextForm
  font: 100% $font-stack 
  font-weight: 500
  transition: .5s

.btn_reg:hover, .btn:hover
  background: #4ddf79
  transition: .5s
  color: #222

.login-register
  font-size: .9em
  color: $bgTextForm
  font-weight: 500
  margin: 25px 0 10px
  text-align: center

  p
    a
      height: 25px
      color: $bgTextForm
      font-weight: 600
      padding: 4px

      &:hover
        border-bottom: 3px solid $bgTextForm
        border-radius: 2px